<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favorite TV Show - Vue 3 Practice</title>
  </head>
  <body>
    <h1>Favorite TV Show</h1>
    <div id="app">
      <h2>{{ message }}</h2>
      <h3>Characters:</h3>
      <p v-if="characterList.length === 0">There are no characters</p>
      <ul v-else>
        <li v-for="character in characterList">
          {{ character.name }}
        </li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      Vue.createApp({
        data: () => ({
          message: 'Arrested Development',
          characterList: [
            {
              name: 'Michael Bluth',
            },
            {
              name: 'George Michael Bluth',
            },
            {
              name: 'Lindsay Bluth Fünke',
            },
            {
              name: 'Tobias Fünke',
            },
            {
              name: 'George Oscar "G.O.B." Bluth II',
            },
            {
              name: 'Buster Bluth',
            },
            {
              name: 'Maeby Fünke',
            },
            {
              name: 'Lucille Bluth',
            },
            {
              name: 'George Bluth Sr.',
            },
            {
              name: 'Ann Veal',
            }
          ]
        })
      }).mount('#app')
    </script>
  </body>
</html>
