<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue 3 Practice</title>
  </head>
  <body>
    <h1>Favorite TV Show</h1>
    <div id="app">
      <p v-if="message.length % 2 === 0">{{ message.toUpperCase() }}</p>
      <p v-else>{{ message }}</p>
      <ul v-for="item in listOfCharacters">
        <li>
          {{ item.name }}
          <ul>
            <li v-for="character in item.list">{{ character }}</li>
          </ul>
        </li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue

      const app = createApp({
        data() {
          return {
            message: 'Arrested Development',
            listOfCharacters: [
              {
                name: 'List of Characters',
                id: '6a887cd2-f0bf-4321-b192-92016f82a883',
                list: [
                  'Michael Bluth', 
                  'George Michael Bluth', 
                  'Lindsay Bluth Fünke', 
                  'Buster Bluth', 
                  'George Oscar Bluth II', 
                  'Lucille Bluth', 
                  'Maeby Fünke', 
                  'Tobias Fünke', 
                  'Gob Bluth'
                ]
              }
            ]
          }
        }
      })

      app.mount('#app')
    </script>
  </body>
</html>
